[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
certifi = "==2024.8.30"
distlib = "==0.3.9"
filelock = "==3.16.1"
packaging = "==24.2"
pipenv = "==2024.4.0"
platformdirs = "==4.3.6"
virtualenv = "==20.27.1"

[dev-packages]

[requires]
python_version = "3.12"
